<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
	
    {%- if page_paths -%}
      <nav class="site-nav">
		<div id="sitenav">
		<ul>
			<li><b><a href="{{ '/' | relative_url }}">Home</a></b></li>
			<li><b><a href="{{ '/about/' | relative_url }}">About</a></b></li>
			<li><b><a href="{{ '/projects/' | relative_url }}">Projects</a></b></li>
			<li><b><a href="{{ '/blog/' | relative_url }}">Blog</a></b></li>
		</ul>
		</div>
        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
	<div id="titletext">
    <h1>{{ page.title }}</h1>
    </div>
</header>
