<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}
	
  <body>

    {%- include header.html -%}

    <main>
	<div class="mainbody">
		<div class="contacts-container">
			<a href="{{ "/" | relative_url }}">
				<img src="{{ '/assets/images/mavenfaceright.png' | relative_url }}" alt="{{ site.title | escape }}" class="mavenimage">
			</a>
			<div class="contacts">
				<h2>Maven Haven</h2>
				<hr id="namehr">
				<h3>Musings & Music, Mostly.</h3>
				<hr id="titlehr">
				<div id="contacts-icons">
					<ul>
						<li><i class="fa-brands fa-discord"></i></li>
						<li><i class="fa-brands fa-youtube"></i></li>
						<li><i class="fa-brands fa-github"></i></li>
					</ul>
				</div>
				<div id="contacts-text">
					<ul>
						<li> firegatorthursday</li>
						<li> <a href="https://www.youtube.com/@melodicamaven/featured">
							YouTube</a></li>
						<li> <a href="">GitHub</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="maincontent">
			{{ content }}
		</div>
	</div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
